<h2>本サービスについて</h2>
<p>日本語、韓国語学習者のためのサービスです</p>
<ul>
    <li>NameとPasswordを正しく入力し、サインインしてください</li>
    <li>「Add List」で新しく学習した単語について、空白を埋めていきます。例文項目については、入力せずとも、保存できます。</li>
    <li>「List Index」で保存した単語の復習ができます。追加日時、使用頻度によって、並び替え見ることができます。</li>
    <li>使用後は、「Logout」をクリックしてください</li>
</ul>
