<h1>Edit Diary</h1>
<%= form_tag "/post/#{@post.id}/update" do %>
<p>Title</p>
<input name="title" value="<%= @post.title %>">
<p>Content</p>
<textarea class="post_content" name="content"><%= @post.content %></textarea>
<p></p>
<input type="submit" value="Save">
<% end %>