<div class="contents_wrapper">
<p>Please sign in</p>

<%= form_tag "/login" do %>
<p>Name</p>
<input name="name">
<p>Password</p>
<input type="password" name="password">
<p></p>
<input type="submit" value="Signin">
<% end %>

</div>