.time{
    color:gray;
    font-size:10px;
}

.container{
    background-color:#e1f7f1;
    line-height:15px;
    font-size:20px;
}

header {
  height: 65px;
  width: 100%;
  background-color:gray;
  color:white;
}

.contents{
    width: 100%;

    color:white;
    font-family:fantasy;
    margin: 0 auto;
}


header li{
    list-style: none;
    padding-right: 30px;
    float: left;
}

.flash {
    padding: 10px 0;
    color: black;
    background: yellow;
    text-align: center;
    position: absolute;
    top: 64px;
    z-index: 10;
    width: 100%;
    border-radius: 0 0 2px 2px;
    font-size: 14px;
}

.error{
    background: rgb(251, 170, 88);
    color: white;
}

.contents_wrapper{
    height:1000px;
    background-size:cover;
}

.post_content{
    height:100px;
    width:500px;
}

.container_2{
    background-color:#f9e0e0;
    line-height:15px;
    font-size:20px;
}

.error_messages{
    color:red;
}

.correct_answer{
    color:red;
}

.no_important{
    font-size:15px;
}

.comment_index{
    background-color:#f7eded;
}
